* {
    box-sizing: border-box;
}

.box-info {
    height: 22%;
    width: 22%;
    padding: 5px;
    border-radius: 50%;
    background: #cdbcdc;
    margin: 10px;
    margin-top: 100px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.project-image {
    width: 100%;
    border-radius: 50%;
    border: 2px solid darkslateblue;
    padding: 3px;
    object-fit: cover;
}
.project-text {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.project-image:hover {
    opacity: 0.6;
}


