@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');

.top-border-nav{
    display: flex;
    background-color: black;
    justify-content: center;
    border: 1px gainsboro solid;
    flex-wrap: wrap;
}

.top-border-nav a {
    color: white;
    padding: 10px 5%;
    text-align: center;
    font-family:Geneva;
    font-size: 100%;
  }

.top-border-nav a:hover {
    background-color: #cdbcdc;
    color: darkslategrey;
}

/* .top-border-nav a.active {
    background-color: darkslategray;
    color: white;
  } with this I wanted to have the link highlighted to show which section the person was on.*/

.head {
    text-align: center;
    text-transform: uppercase;
    padding: 8px;
    background-color: black;
    color: #cdbcdc    ;
    font-family: 'Monofett';
    border: 1px gainsboro solid;
    font-size: 390%;
}

body {
    align-items: center;
    background-color: rgb(78, 73, 73);
}

.intro_text {
  text-transform:uppercase;
  font-family: 'Monofett';
  color: #cdbcdc;
  font-size: 400%;
  letter-spacing: 0.1em;
}

.intro_image {
    border-radius: 50%;
    float: right;    
    max-height: 500px;
    border: 2px gainsboro solid;
    align-self: center;
} 

@media screen and (max-width: 900px) {
    .intro {
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 70%;
    }
  }

p{
    font-size: 20px;
    text-align: left;
    font-family: Geneva;
    color: #cdbcdc;
    margin: 4%;
  }

  h3{
    font-size: 30px;
    text-align: center;
    font-family: Geneva;
    color: #cdbcdc;
    margin: 4%;
  }

@media screen and (max-width: 900px) {
    p {
        text-align: center;
    }
  }

footer {
    padding: 10px;
    margin: 20px;
    text-align: center;
    background: black;
    color: #cdbcdc;
    font-family: Geneva;
  }

a {
    color: black;
  }

.center_image {
    margin: auto;
    display: block;
    max-height: 100px;   
}


#hobbies {
    display: flex;
    flex-direction: column;
}

.content:hover {
    box-shadow: 4px 10px 10px rgb(13, 0, 0);
}

.activity {
    padding: 10px;
    width: 48%;
    background-color: rgb(39, 40, 40);
    border: black solid 2px;
    align-items: center;
    padding: 0 18px;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.collapsible {
    cursor:pointer;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: geneva;
    text-transform: uppercase;
    background-color:#cdbcdc;
    width: 50%;
    border: none;
    text-align: center;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
  
.collapsible:hover {
    background-color: #5e5169;
}

.collapsible:active {
  cursor: grabbing;
}

.craft_pic {
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.cooking_pic {
  padding: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: auto;
} 

.show-image-btn {
  background-color: #cdbcdc;
  border: solid slategray 1px;
  padding: 10px 9px;
  margin: 0 auto;
  margin-bottom: 1%;
  display: block;
  border-radius: 25%;
}


