@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
body {
    align-items: center;
    background-color: grey;
}

header {
    text-align: left;
    text-transform:uppercase;
    padding: 10% 10% 10% 10%;
    font-family: 'Monofett';
    font-size: 30px;
    line-height: 50px;
    background-color: darkgray;
}

.me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}